@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,800");

:root {
  --orange: #ed835a;
  --orange300: #ce4b18;
  --darkBlue: #505e74;
  --almostBlack: #444;
  --darkGray: #707070;
  --lightGray: #ededed;
  --purple: #381587;
  --almostWhite: #f8f8f8;
  --white: #fff;
  --blackSemitransparent: #00000033;
  --gradientYellow: #faefb4;
  --gradientRed: #faa5a8;
  --darkBlue50: #eaf3ff;
  --darkBlue100: #d0d7e4;
  --darkBlue200: #b3bdcc;
  --darkBlue300: #95a2b6;
  --darkBlue400: #7888a0;
  --darkBlue500: #5f6e87;
  --darkBlue600: #49566a;
  --darkBlue700: #333d4c;
  --darkBlue800: #1d2530;
  --darkBlue900: #040d17;
  --yellow300: #fde047;
}

// Set your brand colors
$orange: #ed835a;
$orange300: #ce4b18;
$darkBlue: #505e74;
$almostBlack: #444;
$darkGray: #707070;
$lightGray: #ededed;
$purple: #381587;
$almostWhite: #f8f8f8;
$white: #fff;
$blackSemitransparent: #00000033;
$gradientYellow: #faefb4;
$gradientRed: #faa5a8;
$darkBlue50: #eaf3ff;
$darkBlue100: #d0d7e4;
$darkBlue200: #b3bdcc;
$darkBlue300: #95a2b6;
$darkBlue400: #7888a0;
$darkBlue500: #5f6e87;
$darkBlue600: #49566a;
$darkBlue700: #333d4c;
$darkBlue800: #1d2530;
$darkBlue900: #040d17;
$yellow300: #fde047;

// Update Bulma's global variables
$size-1: 3.5rem;
$title-color: $almostBlack;
$title-weight: 800;
$family-sans-serif: "Montserrat", sans-serif;
$grey-dark: $darkGray;
$grey-light: $lightGray;
$primary: $yellow300;
$success: $purple;
$link: $darkBlue;
$info: $gradientYellow;
$warning: $orange300;
$danger: $gradientRed;

// Update some of Bulma's component variables
$body-background-color: $yellow300;

@import "../../node_modules/bulma/bulma.sass";
